<div class="row-fluid">
	<div class="span8 offset2">
		<h1>Working with views!</h1>
	</div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">Nav Bar</a>
				<ul class="nav">
					<li class="active">
						<a href="#">Ex</a>
					</li>
					<li>
						<a href="#">Ex</a>
					</li>
					<li>
						<a href="#">Ex</a> 
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<br />
<br />

<!-- These are 'regions'. We'll render them in the layout view. -->
<div class="add-view"></div>
<div class="collection-view"></div>
<div class="add-second_view"></div>
