<div class="row-fluid">
	<div class="span8 offset2">
		<h1>Testing Scaffolding!</h1>
	</div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">Nav Bar</a>
				<ul class="nav">
					<li class="active">
						<a href="#">Ex</a>
					</li>
					<li>
						<a href="#">Ex</a>
					</li>
					<li>
						<a href="#">Ex</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span3 offset2">
		<input type="text" placeholder="Bootstrap input box..">
		<i class="icon-search"></i>
	</div>
	<div class="span3 btn btn-primary">
		Click me and checkout the console!
	</div>
	<div class="span2 btn btn-info tooltip-btn" title="Bootstrap tooltip!! Checkout the javascript to see how I did this!">
		Mouseover this!
	</div>
</div>

<br />
<br />

<div class="row-fluid">
	<div class="span4 offset4">
		Add some more bootstrapy things!!!
	</div>
</div>
