<div class="row-fluid">
	<div class="span8 offset2">
		<div class="span12 todo-header">
			<div class="span9 title">
					Archived Tasks
			</div>
			<div class="span3 links">
				<a href="#">Your Lists</a>
			</div>
		</div>
		
		<div class="row-fluid">
			<h3>{{name}}</h3>
		</div>
		
		<div class="row-fluid">
			<div class="span9">
				<h4>Tasks</h4>
			</div>
		</div>
		
			{{#each tasks}}
			<div class="row-fluid">
				{{#unless archived}}
				<div class="span12">
					<div data-trigger="hover" data-placement="left" title="Archive" data-task="{{@index}}" class="archive-task task-pointer">
						<i class="icon-remove"></i>{{task}}
					</div>
				</div>
				{{/unless}}
			</div>
			{{/each}}
			
		<div class="row-fluid">
			<div class="span9">
				<h4>Archived Tasks</h4>
			</div>
		</div>
		
			{{#each tasks}}
			<div class="row-fluid">
				{{#if archived}}
				<div class="span12">
					<div data-trigger="hover" data-placement="left" title="Unarchive Task" data-task="{{@index}}" class="unarchive task-pointer">
						<i class="icon-ok"></i> {{task}}
					</div> 
				</div>
				{{/if}}
			</div>
			{{/each}}
	
		<div class="add-view"></div>
		<div class="collection-view"></div>
		<div class="archive-tasks-view"></div>
	</div>
</div>