<div class="row-fluid">
	<div class="span8 offset2">
		<div class="row-fluid todo-header">
			<div class="span9 title">
				Todo
			</div>

			<div class="span3 links">
				<a href="#tasks/lists">Your Lists</a>
			</div>
		
		</div>
		
		<div class="row-fluid">
			<div class="span4">
				<input type="text" placeholder="Name this list" name="name" class="nameList input-border">
			</div>
		</div>
		
		
		{{#each name}}
		<div class="row-fluid">
				{{name}}
		</div>
		{{/each}}

		<div class="row-fluid">
			<div class="span9">
				<h4>{{name}}</h4>
			</div>
			
			<div class="span3 archive-link">
				<a href='#tasks/archive'>Archive Tasks</a>
			</div>
		</div>

		<div class="add-view"></div>
		<div class="collection-view"></div>
	</div>
</div>
