@import (less) "../components/bootstrap/docs/assets/css/bootstrap.css";
@import (less) "../components/bootstrap/docs/assets/css/bootstrap-responsive.css";

.main {
  .todo-header {
    margin: 60px 0px 30px 0px;
    padding-bottom: 10px;
    border-bottom: solid 1px #c8c8c8;
    
    .title {
      font-size: 40px;
      font-weight: bold;
      color: #F19026;
    }
    
    .links {
      text-align: right;
      padding-top: 10px;
    }
  }
  
  .add-view {
    input {
      width: 100%;
    }
  }
}
